html{
    scroll-behavior: smooth;
}



body {
    font-family: 'Notable', sans-serif;
    padding: 0px;
    margin: 0px;
    color: white;
    overflow-x: hidden;

}

#intro{
    color: black;
    height: 700px;
    pointer-events: none;
}

#intro img{

    position: relative;
    width: 100vw;
    height: auto;
    z-index: -9999;
    height: auto;
    
}

.container{

    position: relative;
    text-align: center;
    color: white;

}

.introText{
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px #c11a68;
    color: #009fb0;
}

#top{
    height:65px;
    background-color: #c11a68;
}

#navBar{
    position: fixed;
    display: flex;
    padding-top: 5px;
}

#navBar li{
    display: inline;
    padding: 10px;
}


#navBar:hover{
    
    color:white;
    text-shadow: 3px 3px #009eb0;
}

#navBar li a{

    font-family: 'Notable', sans-serif;
    font-size: 14px;
    color:#49bfcc;
    text-decoration: none;
    text-shadow: 3px 3px #38232d;

}

#navBar ul li a:hover{
    
    color:white;
    text-shadow: 3px 3px #009eb0;
}

#navBar img{
    width: 100px;
}

#about{
    margin-top: 200px;
    margin-bottom: -20px;
    background-color: #c11a68;
    height: 100vh;
}

#about img{
    height: 400px;
    width: auto;
    box-shadow: 10px 10px 5px rgb(17, 16, 16);
    float: right;
    margin-right: 200px;
    margin-top: 50px;
    transition: transform .2s;
}
.aboutPic:hover{
    transform: scale(1.1);
}

#album{
    background-color:#009fb0;
    height: 100vh;
    margin-bottom: -20px;
}

#album img{
    height: 400px;
    width: auto;
    box-shadow: 10px 10px 5px rgb(17, 16, 16);
    float: left;
    margin-left: 150px;
    margin-top: 150px;
    transition: transform .2s;

}
#album img:hover{
    transform: scale(1.1);
}


#gallery{
    height: 100vh;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#gallery img{
    width: 300px;
    box-shadow: 10px 10px 5px rgb(17, 16, 16);
}

.mashLogo{
    padding-left:20px;
}

.aboutContent{
    
    padding: 30px;;
}



.aboutText{
    padding-top: 35px;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
}

.aboutTextContent{
    padding-left: 150px;

}

.albumContent{
    padding: 30px;
}

.albumTextContent{
    float: right;
    width:50%;
}

.albumText{
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    padding-top:35px;
    padding-right: 40px;
}



#gallery .images{
    margin-left: 50px;
    margin-top: 20px;
    transition: transform .2s;
}

#gallery .images:hover{
    transform: scale(1.1);
}

#mashImages{
    margin-top: 120px;
}

#icon{

    position: fixed;
    bottom: 20px;
    left: 20px; 
    font-size: 30px;
    text-shadow: 5px 5px 5px rgb(17, 16, 16);
}

#icon:hover{
    text-shadow: 2px 2px #c11a68;
    color: white;;
}

.galleryTitle{
    text-align: center;
    padding-top: 60px;
    height: auto;
}

.aboutTitle{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    width: 108px;
}




